/* stylesheet.css */

/* Loose Test */
body {
  background-color: #d5b570;
  padding: 1em;
  margin-left: 60px;
}

/* Media query for screens smaller than 900px */
@media screen and (max-width: 900px) {
  body {
    font-size: large;
  }
}


h1 {
  color: #15558e;
  font-size: 2.5em;
  font-family:'Lucida Handwriting', cursive;
  padding-left: 1em;

  @media(width >900px) {
    font-size: 3em;
  }
}

.comment {
  margin: 2em 0;
  color: black;
} 

h3 {
  text-align: center;
  font-size: 25px;
}

/* other */
.hidden {
  display: none;
}

caption.wide-caption {
  font-size: 0.8em;
  width: 150px;
  font-style: italic;
  padding-bottom: 5em;
}



.hidden {
  display: none;
  margin-top: 10px;
   margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  gap: .4em;
}

.grid-item-main{
  background-color: #da9a23;
  color: black;
  text-align: left;
  font-size: 1.2em;
  padding: 1em;
}

.grid-item-sidebar{
  background-color: #ffab10;
  color: black;
  text-align: left;
  font-size: 1.2em;
  padding: 1em;
}

.grid-item-bottom{
  background-color: #ffffff;
  color: black;
  text-align: left;
  font-size: 1em;
  padding: 0.5em;
}

.contact {
  flex: 1 1 300px;
  margin-bottom: 20px;

  a {
    color: #0054a9;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
  }
}


.social {
  margin-bottom: 20px;
}

.social-list {
  padding: 0;
  margin: 10px;

 a {
  color: #0054a9;
  text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.sidebar{
  position:fixed;
  top:0;
  left: 0; /* versteckt */
  height:100%;
  width: 60px;
  background-color:#333;
  overflow-x:hidden;
  transition:left 0.3s ease;
  z-index:1000
}

.sidebar:hover,
.sidebar.open {
  width: 200px;
   /*sichtbar*/
}

.sidebar:hover .nav-links a,
.sidebar.open .nav-links a{
  opacity:1
}

.toggle-btn{
  font-size:30px;
  color:#fff;
  text-align:center;
  padding:16px 0;
  cursor:pointer
}

.nav-links{
  display:flex;
  flex-direction:column;
  margin-top:40px
}

.nav-links a{
  display:block;
  color:#fff;
  padding:16px;
  text-decoration:none;
  white-space:nowrap;
  opacity:0;
  transition:opacity 0.3s ease
}


.nav-links a:hover{
  background-color:#575757
}

.content{
  margin-left:60px;
  padding:20px;
  transition:margin-left 0.3s ease
}

.sidebar:hover~.content{
  margin-left:200px
}

