/* stylesheet.css */

body {
  background-color: #d5b570;
  padding: 1em;
  margin-left: 60px;
  
}
h1 {
  color: #1c6fb7;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1em;
}

.hidden {
  display: none;
}

caption.wide-caption {
  font-size: 0.8em;
  width: 150px;
  font-style: italic;
  padding-bottom: 5em;
}

h3 {
  text-align: center;
}

.hidden {
  display: none;
  margin-top: 10px;
   margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  gap: .4em;
}

.grid-item-main{
  background-color: #da9a23;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
}

.grid-item-sidebar{
  background-color: #ffab10;
  color: black;
  padding: 20px;
  text-align: left;
  font-size: 1.5em;
  padding: 0.5em;
}

.grid-item-bottom{
  background-color: #ffffff;
  color: black;
  padding: 20px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em;
}

.contact {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.contact h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}


.social {
  margin-bottom: 20px;
}

.social-list {
  padding: 0;
  margin: 10px;
}

.social-list a {
  color: #0054a9;
  text-decoration: none;
}

.social-list a:hover {
  text-decoration: underline;
}

.sidebar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:60px;
  background-color:#333;
  overflow-x:hidden;
  transition:width 0.3s ease;
  z-index:1000
}

.sidebar:hover{
  width:200px
}

.menu-icon{
  font-size:30px;
  color:#fff;
  text-align:center;
  padding:16px 0;
  cursor:pointer
}

.nav-links{
  display:flex;
  flex-direction:column;
  margin-top:40px
}

.nav-links a{
  display:block;
  color:#fff;
  padding:16px;
  text-decoration:none;
  white-space:nowrap;
  opacity:0;
  transition:opacity 0.3s ease
}

.sidebar:hover .nav-links a{
  opacity:1
}

.nav-links a:hover{
  background-color:#575757
}

.content{
  margin-left:60px;
  padding:20px;
  transition:margin-left 0.3s ease
}

.sidebar:hover~.content{
  margin-left:200px
}
